.categories-index {
    background-color: white;
    padding: 1rem 1.5rem;
}
.categories-create {
    background-color: white;
    padding: 1rem 1.5rem;
}
.categories-update {
    background-color: white;
    padding: 1rem 1.5rem;
}
.products {
    padding: 1rem 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;
}